@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./pages/zelda-botw/styles/triangle.css";
@import "./pages/zelda-botw/styles/typography.css";
@import "./pages/zelda-botw/styles/background.css";
@import "./pages/zelda-botw/styles/enduranceGauge.css";